/* base class */
.AdvancedDrawWidget {
}

/* dijit icons */
.AdvancedDrawWidget .dijitIcon {
    font-family: FontAwesome;
}

.AdvancedDrawWidget .iconFixedWidth {
    width: 1.3em;
}

/* main draw pane */
.AdvancedDrawWidget .stackPane {
    padding: 2px;
}

.AdvancedDrawWidget .drawToolbar {
    margin-bottom: 10px;
    padding: 2px 4px;
    border: 1px solid #B5BCC7;
}

.AdvancedDrawWidget .drawButtons {
}

.AdvancedDrawWidget .drawStatus {
    margin: 10px 0;
}

.AdvancedDrawWidget .drawToolsBottom {
    margin-top: 10px;
}

/* text tooltip dialog */
.AdvancedDrawTextTooltipDialog .dijitTooltipContainer {
    padding: 10px;
    background: #424242b8;
}

.AdvancedDrawTextTooltipDialog .textTooltipInput {
    margin-bottom: 10px;
    font-size: 110%;
}

.AdvancedDrawTextTooltipDialog .textTooltipButtons {
    text-align: center;
}

/* Halo the drawing tool text*/
#advanced_draw_text_layer {
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 0em black, 0 0 0.2em black;
}

.angleTooltipInput{
    width:100px;
    display: block;
}

.angleTooltipInputNode{
    margin-bottom: 10px;
    font-size: 110%;
}

#angle-label{
    font-size:smaller;
    color:white;
}

/* additional */
.dijitToolbar .dijitButton .dijitButtonNode,
.dijitToolbar .dijitComboBox .dijitButtonNode,
.dijitToolbar .dijitComboButton .dijitButtonNode,
.dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dijitToolbar .dijitToggleButton .dijitButtonNode {
    border-color: transparent;
    padding: 4px;
    background-color: transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
}
table.dijitComboButton .dijitArrowButton {
    padding: 4px;
    width: 20px;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-left-width: 0;
}
.dijitEditorIcon, .dijitIcon {
    font-family: flat-icon;
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.dijitEditorIcon, 
.dijitIcon,
.dijitValidationTextBoxError .dijitValidationContainer {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dbootstrap .dijitToolbar .dijitButtonContents {
    padding: 4px 8px !important;
}

.dbootstrap .dijitSliderBarH,
.dijitSliderLeftBumper,
.dijitSliderRightBumper {
    height: 0.3em !important;
}

.symbolEditorBase .controlLabel {
    font-size: 12px !important;
}

.dijitSliderImageHandle {
    border-radius: 50%;
    height: 12px !important;
}

.drawToolsBottom .dijitInline.dijitButtonNode {
    padding: 6px 9px !important;
}

.dijitColorPalette .dijitColorPaletteSwatch {
    height: 15px;
    width: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg,
.dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
    border: 1px solid #2196f3;
    -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 0.5px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

