<div>
    <div data-dojo-attach-point="nearbyParametersNode">
        <div>Set nearby area:</div>
        <div class="padTop">
            <div>
              <input type="text" class="nearbyValueInput" id="nearbyValueInput" data-dojo-attach-point="nearbyValueInput" data-dojo-type="dijit/form/NumberTextBox" value="500" name="nearbyValueInput" data-dojo-props="constraints:{min:0,max:9999},invalidMessage:'Please enter a numeric value.'" />
                <span data-dojo-attach-point="nearbyModeDistanceSpan">
                    <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="nearbyModeDistance_options">
                        <option selected="selected" value="METERS">meters</option>
                        <option value="FEETS">feets</option>
                        <option value="MILES">miles</option>
                        <option value="KILOMETERS">km</option>
                    </select>
                </span>
              <label for="nearbyValueInput"> Distance (straight line)</label>
            </div>
            <div>
              <input type="text" class="nearbyNameInput" id="nearbyNameInput" data-dojo-attach-point="nearbyNameInput" data-dojo-type="dijit/form/TextBox" value="pizza" name="nearbyNameInput" />
              <label for="nearbyNameInput">Enter Name</label>
            </div>
            <div>
              <input type="text" class="nearbyNameInput" id="nearbyKeywordInput" data-dojo-attach-point="nearbyKeywordInput" data-dojo-type="dijit/form/TextBox" value="" name="nearbyKeywordInput" />
              <label for="nearbyKeywordInput">Enter Keyword</label>
            </div>
          </div>
        <div>Select from Google types:</div>
        <div>
          <select  data-dojo-attach-point="nearbyPlaceTypeSelect" data-dojo-type="dojox/form/CheckedMultiSelect"></select>
        </div>
        <div>
            <button data-dojo-attach-point="dropPointButton" class="dropButton padTop" data-dojo-type="dijit/form/Button">Ready to drop point!</button>
            <button data-dojo-attach-point="SearchButton" class="dropButton padTop" data-dojo-type="dijit/form/Button">SEARCH</button>
            <button data-dojo-attach-point="clearDropButton" class="off padTop" data-dojo-type="dijit/form/Button">Clear dropped point</button>
            <button data-dojo-attach-point="exportShapeButton" data-dojo-type="dijit/form/Button">Export to shapefile2</button>
        </div>
    </div>
    <div data-dojo-attach-point="nearbyResultsNode" class="resultsContainer"></div>
    <div data-dojo-attach-point="nearbyResultsGrid" class="resultsGrid off">
        <span class="undockButton" data-dojo-attach-event="click:undockResultsGrid"></span>
    </div>
</div>